# Application configuration
CONFIG_FILE=api/tests/integ/config.test.yml

# Dependencies
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

REDIS_PORT=6379
REDIS_USER=redis
REDIS_PASSWORD=changeme

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elasticsearch
ELASTICSEARCH_PASSWORD=changeme

RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=changeme

# Secrets (to complete)
#ALBERT_API_KEY=
#BRAVE_API_KEY=
