*

!api/
!api/**
!playground/
!playground/**
!scripts/
!scripts/**
!.github/
!.github/assets/
!.github/assets/**
!pyproject.toml
!config.example.yml

.git
.github/workflows
.ruff_cache
.states
.venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
logs
*.log
docs
adr
api/tests
playground/.web
playground/.venv
config.yml
.env
.env.*
