interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token_for_test
    method: GET
    uri: https://dispatcher-preprod.kubic.aristote.centralesupelec.fr/v1/models
  response:
    body:
      string: '{"object":"list","data":[{"id":"RedHatAI/Llama-3.3-70B-Instruct-FP8-dynamic","object":"model","owned_by":"RedHatAI/Llama-3.3-70B-Instruct-FP8-dynamic"},{"id":"casperhansen/llama-3.3-70b-instruct-awq","object":"model","owned_by":"casperhansen/llama-3.3-70b-instruct-awq"},{"id":"meta-llama/Llama-3.1-8B-Instruct","object":"model","owned_by":"meta-llama/Llama-3.1-8B-Instruct"},{"id":"mistralai/Mistral-Small-3.1-24B-Instruct-2503","object":"model","owned_by":"mistralai/Mistral-Small-3.1-24B-Instruct-2503"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
